/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    transition: transform ease-in-out 200ms;
}

button:hover {
    transform: scale(1.1);
}

table {
    width: 100%;
}

th {
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.5rem;
}

td {
    text-align: center;
    border: 1px solid gray;

    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0;
}